.maincontainer {
    padding-left: 25px;
}

.topbanner {
    padding-top: 10px;
    text-align: center;
    border: 3px double black;
}

.logo {
    padding-top: 10px;
}

.tempo {
    font-size: 40px;
}

.verticalbanner {
    border: 3px double black;
}

.navbar {

}

li {

}